.component {
    text-align: center;
    border: 1px solid #000000;
    padding: 5px 10px;
    left: 50%;
    top: 50%;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    > p {
        color: #666666;
        margin: 0px;

        > b {
            color: #333333;
        }
    }
}